:host {
  height: 7%;
  display: block;
}

.custom-item .emoji {
  font-size: 1.5rem;
}

.header {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem 0 2rem;
  color: #ffffff;
  background-color: transparent;

  .nav {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.2rem;

    .custom-selected-item {
      font-size: 1.2rem;
    }

  }
}

.custom-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
