/* You can add global styles to this file, and also import other style files */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'arial', sans-serif;
}

body {
  background: linear-gradient(135deg, #232323, #121212);
}

strong {
  color: white;
}

.p-dropdown {
  background-color: transparent;
  border: none;
  color: white;
  border-radius: 4px;
  box-shadow: none;
}

.p-dropdown-label {
  color: white;
}

.p-dropdown .p-dropdown-trigger {
  background: transparent;
  color: white;
  border: none;
}

.p-dropdown-panel {
  color: white;
  background: none;
  margin-top: 6px;
}


.p-dropdown-item {
  color: white;
  padding: 8px;
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight.p-focus {
  background: #444;
}

.p-dropdown-item:hover {
  background-color: #555;
  color: white;
}
